html, body {
  background: url(../img/bg/mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 24px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
}
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
hr {
  border-color: black;
}
.spacer {
  height: 20px;
}
.group-page {
  /*Does nothing yet*/
}
.group-body {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.box-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #ECF0F1;
  height: 160px;
  padding: 10px;
}
.box {
  border-radius: 10px;
  background-color: #ECF0F1;
  padding: 10px;
  margin: 5px;
  min-height: 350px;
}
.category-section {
  margin-left: 280px;
  height: 100%;
  width: calc(100% - 290px);
  position: absolute;
  top: 0;
}
.category-bar {
  position: absolute;
  bottom: 0;
  margin-bottom: -23px;
  margin-left: 0px;
  margin-right: 5px;
}
.category {
  background-color: #2574A9;
  color: white;
  border: 2px solid #2574A9;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: 18px;
}
.category:hover {
  background-color: white;
  color: black;
}
.dropbtn {
    background-color: #2574A9;
    color: white;
    padding: 16px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 95px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #2574A9;
    color: black;
}
.no-gutter {
  padding: 0px;
}
.row {
  margin: 0px;
}